<div class="row">
	<div class="large-3">
		<img {{bind-attr src="poster" alt="title"}}>
	</div>
	<div class="large-9 columns movie-panel">
		<p>Durée : {{ runtime }} | En Salle : {{ release_date }} 
										| Réalisé par : {{ director }}</p>
		<p>{{ plot }}</p>
		<hr />
		<p>Nombre de tweets analysés: {{ total_count }}</p>
		<p>Nombre Positif: {{ stat_pos }}</p>
		<p>Nombre Négatif: {{ stat_neg }}</p>
	</div>
</div>